html{
	min-height: 100%;
}
body {
	min-height: 100%;
	color: #DCDCDC;
	font-family: 'Gloria Hallelujah', cursive;
	background-image: url(../images/stardust.png);
}

header {
	text-align: center;
	margin-bottom: 2%;
	width: 100%;
	background-color: #696969; 
	overflow: auto;
}


.hangmanColSeperator{
	margin-top: 15%;
}

#wordSpot {
	width: 100%;
	font-size: 200%;
/*	padding-bottom: 8%;*/
}

#animeImagesSlot {
	width: 50%;
	height: 100%;
	clear: both
}



#hint {
	text-align: center;
}

button#button:nth-child(3) {
	margin-bottom: 5%;
}
